## Working with Text Files in Python for NLP.

#### Working with Text File

- Working with f string for the format string.
- Working with .cs,.tsv files to read and write.
- Working with %writefile to create a simple .txt file [Works in jupyter only].
- Working with Python's inbuit file read and write.

## String Formatter.

In [1]:
name = 'Roshan'

In [4]:
print('My name is name') #we do not want the name.

My name is name

In [6]:
print('My name is {}.'.format(name))

My name is Roshan.

In [9]:
print(f'My name is {name}.')

My name is Roshan.

- Minimum width and Alignment between the columns.

- Minimum width and Alignment between the columns is sugggesting that we sholud have the minimum width and space between the two so that we will get the proper aligment.

- most of time what happpen the we got most of the time improper alignment like below.

- days  ----- values 

 - 12  34
 - 13
 - 243 133 

  - 33 23

In [10]:
data_science_tutes = [('Python_for_Beginners',23),('Machin_learning',89),('Deep learning',45),('Nlp',788)]

In [11]:
data_science_tutes

[('Python_for_Beginners', 23),
 ('Machin_learning', 89),
 ('Deep learning', 45),
 ('Nlp', 788)]

### If we see here the we are not getting proper alignment between the clumns in oder to do that we will use some techniques.

In [12]:
for info in data_science_tutes:
    print(info)

('Python_for_Beginners', 23)
('Machin_learning', 89)
('Deep learning', 45)
('Nlp', 788)

In [14]:
for info in data_science_tutes:
    print(f'{info[0]:{50}} {info[1]:{10}}')  
    
#We use here the info with zeroth columns with 50 space and 1st columns with 10 space only.

Python_for_Beginners                                       23
Machin_learning                                            89
Deep learning                                              45
Nlp                                                       788

#### We can use greater than ,less than and ^ to get the some modifications.

In [36]:
for info in data_science_tutes:
    print(f'{info[0]:>{40}} {info[1]:{10}}')

                    Python_for_Beginners         23
                         Machin_learning         89
                           Deep learning         45
                                     Nlp        788

In [40]:
for info in data_science_tutes:
    print(f'{info[0]:^{40}} {info[1]:{10}}')

          Python_for_Beginners                   23
            Machin_learning                      89
             Deep learning                       45
                  Nlp                           788

In [43]:
for info in data_science_tutes:
    print(f'{info[0]:{40}} {info[1]:.>{10}}')

Python_for_Beginners                     ........23
Machin_learning                          ........89
Deep learning                            ........45
Nlp                                      .......788

## Working with csv and tsv Files.

In [44]:
import pandas as pd

In [45]:
data = pd.read_csv('moviereviews.tsv',sep='\t')

In [46]:
data.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [52]:
data.shape

(2000, 2)

In [53]:
data['label'].value_counts()

pos    1000
neg    1000
Name: label, dtype: int64

- How to write the tab seperated file

In [55]:
pos = data[data['label']=='pos'] 
pos.head()

   label                                             review
2    pos  this has been an extraordinary year for austra...
3    pos  according to hollywood movies made in last few...
11   pos  with stars like sigourney weaver ( " alien " t...
16   pos  i remember hearing about this film when it fir...
18   pos  garry shandling makes his long overdue starrin...

### In this below we have created the tsv file with index false so that the file will be avalible in only one format.

In [62]:
pos.to_csv('pos.tsv',sep='\t',index=False)  #We write the tsv file so get clarification we will gonna check it. 
#we have generated from csv file to tsv file on the data that is pos.

In [63]:
pd.read_csv('pos.tsv',sep='\t').head()  #run the file

  label                                             review
0   pos  this has been an extraordinary year for austra...
1   pos  according to hollywood movies made in last few...
2   pos  with stars like sigourney weaver ( " alien " t...
3   pos  i remember hearing about this film when it fir...
4   pos  garry shandling makes his long overdue starrin...

In [65]:
pd.read_csv('pos.tsv',sep='\t').shape  #since we got in that only and only the pos result.

(1000, 2)

### Buid in magic command in jupyter %%writefile

This is another method wirte a file

In [67]:
%%writefile text.txt
Hi Dear,I am Roshan and learning the NLP

Writing text.txt

If you see the machine you will get the text file there and in that we will find the same text which we had written previosly below the magic commmand.

- Let suppose we have already A text in machine and we want to write something in that time go through the append mode by using the same magic command.

In [70]:
%%writefile -a text.txt

NLP stands for Natural Language Processing.

Appending to text.txt

That's how we have appended the words inside the text file.

# Use python's inbuilt command to read and write text file.

In [71]:
file = open('text.txt','r') #read file

In [72]:
file

In [73]:
file.read()

'Hi Dear,I am Roshan and learning the NLP\n\nNLP stands for Natural Language Processing.\n'

If we run the same code line below that time we will get the empty string becasue Pointer at the end will produce output due to the lack of line

In order to avoid that we have to rund the below code that pointer will get the starting position.

In [78]:
file.seek(0)

0

In [79]:
file.read()

'Hi Dear,I am Roshan and learning the NLP\n\nNLP stands for Natural Language Processing.\n'

If you want to read the line one by one for that.

In [85]:
file.seek(0)

0

In [86]:
file.readline()

'Hi Dear,I am Roshan and learning the NLP\n'

In [87]:
file.readline()

'\n'

In [88]:
file.readline()

'NLP stands for Natural Language Processing.\n'

In [89]:
file.readline()

''

In [91]:
file.seek(0)

0

In [92]:
file.readlines()

['Hi Dear,I am Roshan and learning the NLP\n',
 '\n',
 'NLP stands for Natural Language Processing.\n']

In [93]:
file.readlines()

[]

In [94]:
file.seek(0)

0

In [95]:
file.readlines()

['Hi Dear,I am Roshan and learning the NLP\n',
 '\n',
 'NLP stands for Natural Language Processing.\n']

In [97]:
file.close()

We will do something so that the we do not required to the close the file seperately.

In [98]:
with open('text.txt') as file:
    text_data = file.readlines()
    print(text_data)

['Hi Dear,I am Roshan and learning the NLP\n', '\n', 'NLP stands for Natural Language Processing.\n']

It is already a close file.

In [100]:
file.readlines()  #It is already closed file

ValueError: I/O operation on closed file.

If we want to get the all line in one code.

In [101]:
for temp in text_data:
    print(temp)

Hi Dear,I am Roshan and learning the NLP



NLP stands for Natural Language Processing.

To avoid the space inbetween the two lines we will use strip so that we will avoid the charecters.

In [106]:
for temp in text_data:
    print(temp.strip('\n'))

Hi Dear,I am Roshan and learning the NLP

NLP stands for Natural Language Processing.

In [107]:
for i,temp in enumerate(text_data):
    print(str(i) + '---->'+temp.strip())

0---->Hi Dear,I am Roshan and learning the NLP
1---->
2---->NLP stands for Natural Language Processing.

## File Writing

In [113]:
file =open('text3.txt',mode='w')

In [114]:
file

In [115]:
file.write('Now Corona virus is become dangerous.')   #This file will not be updated untill and unless we will close it.

37

In [116]:
file.close()

In [119]:
with open('text4.text',mode='w') as file:
    file.write('HEy this is my file dont touch it otherwise i will kick you on the your private part.')

If you want to append the one file file text to another that time we will use the below code.

In [121]:
with open('text4.text',mode='a') as file:
    for temp in text_data:
        file.write(temp)

Here,a stands for the append.